body {
  background-color: #121212;
  color: #fff;
  font-family: "inter";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainLayout{
  min-height: calc(100vh - 104px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 375px) {
  #root {
    min-width: 375px;
    width: 75%;
  }
}

#root {
  min-width: 300px;
  width: 100%;
}

.back-btn {
  padding: 20px;
}

button.back-btn.home-btn {
  visibility: hidden;
  pointer-events: none;
}

* {
  /* setting the checkbox input HTML element accent color to `green` */
  accent-color: #d71340;
}
